doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description' content='Личный блог о разработке и не только')
        meta(property='og:title' content='Risent Veber')
        meta(property='og:description' content='Личный блог о разработке и не только')
        meta(property='og:image' content='https://risentveber.ru/assets/images/fav.jpg')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title=title
        link(rel='icon', href='/assets/images/fav.jpg')
        link(href='/assets/stylesheets/main.css', rel='stylesheet')

    body
        .container
            header
                a#logo(href='/') Risent Veber
            nav
                ul
                    each page in menuLinks
                        li.menu(class=(active == page.url ? 'active' : ''))
                            a(href=page.url)=page.title
            section(style='min-height: 300px;')!=contents
                - if (!discqus_disable)
                    #disqus_thread
                    noscript Please enable JavaScript to view the
                        a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
            footer.clearfix Risent Veber &copy; 2014-#{(new Date()).getFullYear()}

    script(src='/assets/js/turbolinks.min.js')
    script(src='/assets/js/main.min.js')
    script(type="text/javascript")
        | (function (d, w, c) {
        | (w[c] = w[c] || []).push(function() {
        |     try {
        |         w.yaCounter46180146 = new Ya.Metrika({
        |             id:46180146,
        | clickmap:true,
        | trackLinks:true,
        | accurateTrackBounce:true
        | });
        | } catch(e) { }
        | });
        | var n = d.getElementsByTagName("script")[0],
        | s = d.createElement("script"),
        | f = function () { n.parentNode.insertBefore(s, n); };
        | s.type = "text/javascript";
        | s.async = true;
        | s.src = "https://mc.yandex.ru/metrika/watch.js";
        | if (w.opera == "[object Opera]") {
        |     d.addEventListener("DOMContentLoaded", f, false);
        | } else { f(); }
        | })(document, window, "yandex_metrika_callbacks");

    noscript
        div
            img(src="https://mc.yandex.ru/watch/46180146" style="position:absolute; left:-9999px;" alt="")
