---
layout: index.jade
title: 'Risent Veber | Деятельность'
active: '/activities/'
---
h3 Публикации
ul
    li
        a(href='https://habr.com/company/tinkoff/blog/353022/', target='_blank')
            | Генератор статических сайтов metalsmith
    li
        a(href='https://habrahabr.ru/company/tinkoff/blog/337940/', target='_blank')
            | Пишем телеграм бота-парсера вакансий на JS
    li
        a(href='https://mkdev.me/posts/delaem-udobnyy-task-ranner-i-publikuem-ego-kak-npm-paket', target='_blank')
            | Делаем удобный таск-раннер и публикуем его как npm-пакет

h3 Проекты
ul
    li
        | Тематический
        a(href='https://learn.javascript.ru/jobs')  раздел
        |  для размещения вакансий на одном из крупнейших российских ресурсов
        | по изучению Javascript - февраль 2018.
    li
        a(href='https://github.com/risentveber/Fintech-Javascript-3', target='_blank') Практическая часть
        |  курса по-фронтенд разработке в рамках финтех
        a(href='https://fintech.tinkoff.ru/tfschool/fall_2017/frontend', target='_blank')  школы
        |  при Тинькофф-банке, осень 2017.
    li
        a(href='https://github.com/risentveber/wise', target='_blank') WISE 2017
        |  - статический сайт научной конференции
        a(href='http://www.wise-conferences.org/', target='_blank')  WISE
        |  (Web Information Systems Engineering Society) в 2017 году.
    li
        a(href='https://t.me/javascriptjobs', target='_blank') @javascriptjobs
        |  - канал и
        a(href='https://github.com/risentveber/js_jobs_bot')  бот
        |  для агрегации вакансий по тематике javascript в Telegram.
    li
        a(href='https://www.npmjs.com/package/prun') prun
        |  - таск раннер с системой шаблонизации.
    li
        a(href='http://ctunltd.ru/') ctunltd.ru
        |  - сайт-визитка для одной из отечественных обувных фабрик.

