---
layout: index.jade
title: 'Risent Veber'
active: '/'
---

img.main(src='/assets/images/standart_ava.jpg')

h4 Область деятельности
p
    | Рубиновых дел мастер.

h4 Мои интересы
p
    | Workout - занятия преимущественно с весом своего тела, меня вдохновляет Frank Medrano.<br>
    | Музыка - я меломан, без нее мне не прожить и дня:
ul.music
    li Rock
    li Rockstep
    li Electro
    li Rap

h4 Как со мной связаться

ul
    li
        a(href='https://github.com/risentveber', target='_blank') Github
    li
        a(href='http://vk.com/risent', target='_blank') VK risent
    li
        a(href='mailto:risentveber@gmail.com', target='_blank') risentveber@gmail.com
