---
layout: index.jade
title: 'Risent Veber'
active: '/'
discqus_disable: 'true'
---

img.main(src='/assets/images/standart_ava.jpg')

h4 Область деятельности
p
    | Fullstack WEB разработчик. Последнее время пишу почти исключительно на Javascript. Второй любимый язык - Ruby,
    | который, как правило, не мыслим без наиболее популярного фреймворка - Ruby on Rails, используемого мной в
    | тех проектах где нужен backend. В разное время также
    | приходилось писать на PHP, Python, С/С++ и Pascal.

h4 О себе
p
    | Окончил физтех, умен, уверен в себе и просто разносторонний человек, ненормальный в том смысле,
    | что не попадаю в двойное стандартное отклонение от среднего по Гауссу. Музыкальные вкусы весьма специфичны:
    | в основном это рэп как русский, так и англоязычного происхождения, иногда электроника и реже рок.
    | Можно сказать, я - меломан поэтому велика вероятность увидеть меня именно в наушниках.

h4 Как со мной связаться

ul
    li
        a(href='https://github.com/risentveber', target='_blank') Github
    li
        a(href='https://habrahabr.ru/users/risent/', target='_blank') Habrahabr
    li
        a(href='https://www.linkedin.com/in/risentveber/', target='_blank') LinkedIn
    li
        a(href='https://toster.ru/user/RISENT', target='_blank') Toster
    li
        a(href='http://telegram.me/risentveber', target='_blank') Telegram
    li
        a(href='http://vk.com/risentveber', target='_blank') Vkontakte
    li
        a(href='mailto:risentveber@gmail.com', target='_blank') risentveber@gmail.com
