---
layout: index.jade
title: 'Risent Veber'
active: '/'
discqus_disable: 'true'
---

img.main(src='/assets/images/standart_ava.jpg')

h4 Область деятельности
p
    |Программированием увлекся со старших классов школы, как и многие в этом возрасте, начинал с Pascal.
    |Закончил МФТИ по направлению прикладные математика и физика, где освоил несколько
    |разных курсов по классическим алгоритмам и структурам данных на С/С++ и Python.
br
p
    |В качестве отправной точки в коммерческом программировании выбрал web разработку.
    |Пробовал запустить свой стартап, фрилансить и работал в нескольких мелких
    |веб-студиях решая самые разнообразные задачи с использованием Python, PHP, Ruby on Rails, Javascript и React.
br
p
    | С удовольствием изучаю новые подходы и технологии.
    | Последние 2 года занимаюсь разработкой финансовых сервисов в Tinkoff.ru.
    | Несколько лет фокусировался на Javascript в качестве основного языка.
    | Год назад поменял основной язык разработки на Golang. Люблю сложные практические задачи требующие детального подхода,
    | а также держу руку на пульсе современных технологий. Периодечески хожу на собеседования,
    | а также сам провожу техническое интервью новым кандидатам.
    | На данный момент суммарный опыт коммерческого программирования составляет 5 лет,
    | также я выполняю роль тимлида в своем отделе.

h4 О себе
p
    | Умен, уверен в себе и просто разносторонний человек, ненормальный в том смысле,
    | что не попадаю в двойное стандартное отклонение от среднего по Гауссу. Музыкальные вкусы весьма специфичны:
    | в основном это рэп как русский, так и англоязычного происхождения, иногда электроника и реже рок.
    | Можно сказать, я - меломан поэтому велика вероятность увидеть меня именно в наушниках.

h4 Как со мной связаться

ul
    li
        a(href='https://github.com/risentveber', target='_blank') Github
    li
        a(href='https://habrahabr.ru/users/risent/', target='_blank') Habrahabr
    li
        a(href='https://www.linkedin.com/in/risentveber/', target='_blank') LinkedIn
    li
        a(href='https://toster.ru/user/RISENT', target='_blank') Toster
    li
        a(href='http://telegram.me/risentveber', target='_blank') Telegram
    li
        a(href='https://mkdev.me/mentors/risentveber', target='_blank') Mkdev mentor
    li
        a(href='mailto:risentveber@gmail.com', target='_blank') risentveber@gmail.com
