---
layout: index.jade
title: 'Verse'
active: '/verse/'
---

p=path
p
    | Здесь я представляю вашему искушенному взгляду
    | некоторые рифмы, созданные мной.
br
pre
    |Жизнь - парадокс, возможно, прекрасный:
    |Ты думаешь одно - другое происходит,
    |И не сказать о ней: лишь дар напрасный,
    |На место ушедшего что-то приходит.
    |&nbsp;
    |Знающий много - мало умеет,
    |Ищущий славы - ее не достоин,
    |Счастлив не тот, кто много имеет,
    |Ценно не то, что дорого стоит.
    |&nbsp;
    |Жизнь - ограничена, миг - бесконечен,
    |Молчанье - осмысленно, речь - надменная,
    |Суетен - глупый, мудрый - беспечен,
    |Всем - ничего, кому-то - вселенная.
hr
pre
    |Я почему-то вечно млею,
    |Пред тем, чего не вижу суть,
    |Зря о пустом лишь сожалею,
    |Когда иду я в дальний путь.

    |Пожалуй многие напрасно
    |Мне часто говорят не прав,
    |Жить, как желаешь, есть прекрасно
    |Лишь в этом отражен твой нрав.

    |Итог любой давно известен,
    |Не будешь вечно жить и ты,
    |И только лишь с собою честен,
    |Достигнешь ты своей мечты.
hr
pre
    |Людское мненье как волна,
    |То на тебя бежит, то убегает.
    |И тот, кому она важна,
    |В покое редко пребывает.
hr
pre
    |Фантазии предел не ограничен.
    |Во что ты тайный смысл вложил?
    |В мечтах всегда итог отличен,
    |Насколько плохо бы до этого не жил.

    |Хоть в искажении нарратива
    |Замечен был ты и не раз,
    |Гораздо меньше позитива
    |В обычной перемене фраз.

    |В очередном мечты флаконе
    |Не смешивай эфирные масла из разных групп.
    |Иначе, стоя на души балконе,
    |Ты упадешь споткнувшись об уступ.
hr
pre
    |Не холоден и не горяч,
    |Зачем такой характер нужен?
    |Тебя он не согреет в стужу,
    |И в жар твой пыл не охладит.
hr
pre
    |Великолепен летний воздух,
    |Когда в полуночной тиши,
    |Ты созерцая дальни звезды,
    |Обрел спокойствие души.
hr

pre
    |Если ты боишься вечно,
    |Хочешь жизнь прожить беспечно,
    |Иди накатанной дорогой,
    |Но помни, что подобных много,
    |И на своем последнем вздохе
    |Ты пожалеешь об итоге.
hr
pre
    |Красивое признать хорошим
    |Любой недальновидный сможет,
    |Порою в жизни все сложнее:
    |Чем красивей дева - тем злее.
hr
pre
    |Не сомневайся понапрасну,
    |Мгновенье каждое прекрасно,
    |Что проведем с тобою мы
    |В пьянящих вечерах весны.
    |Ведь без твоей улыбки милой
    |Не чувствую себя счастливым,
    |И в страстну думу погружен,
    |Я без тебя теряю сон...
