---
layout: index.jade
title: Разработка
active: /dev/
---

h3 Здесь собраны материалы по теме Web разработки

p
    | Огромное спасибо Кириллу Ширинкину за его замечательную
    a(href="http://mkdev.me/book") книгу
    |, в которой он делится бесценным опытом,
    |предлагая читателю готовый guidline в мире WEB.
h4 HTML & CSS
p
    ul
        li
            a(href='http://www.w3schools.com/') w3schools.com
            |- замечательный учебник с подробным справочником по большинству современных технологий.
        li
            a(href='http://learnlayout.com/') learnlayout.com
            |- как научиться верстать макеты.
        li
            a(href='http://getbootstrap.com/') Bootstrap
            |- великолепный CSS фреймворк.

h4 Визуализация
p
    ul
        li
            a(href='https://www.draw.io') Draw.io
            |- как сделать красивыe схемы, облегчающие разработку.

h4 Инструменты разработки
p
    ul
        li
            a(href="https://developer.chrome.com/devtools/index") Консоль Google Chrome.
        li
            a(href="http://discover-devtools.codeschool.com/") Сhrome development tools
            |- как использовать всю мощь инструментов, предоставляемых для разработки браузером Chrome.
        li
            a(href="http://www.sublimetext.com/") Sumblime
            |- редактор, который поражает своей простотой и гибкостью.

h4 Ресурсы и материалы для верстки
p
    ul
        li
            a(href="https://http://www.transparenttextures.com/") Transparenttextures
            | - фон на любой вкус.
        li
            a(href="http://webfont.ru/") Webfont
            | - качественные шрифты.
