---
title: Заметки Ruby on Rails
date: 2015/08/13
---

h3 Заметки Ruby on Rails

h4 Комманды
p
    code.hljs-in.lang-bash rake assets:clobber
    |смысловой аналог
    code.hljs-in.lang-bash rake assets:clean


h4 Rails console

pre
    code.hljs.lang-ruby
        |app.class
        |app.project_path(Project.first)
        |helper.link_to
        |Project.instance_method(:trash).source_location


h4 Гемы
ul
 li
    |Image Magick -
    code.hljs-in.lang-bash apt-get install imagemagick

